/* ===== RESET BÁSICO ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F5DDC2; /* Cor de fundo mais próxima do layout */
    color: #0000;
}

.header {
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 30px;
    transform: translateY(15%);
}

.logo img {
    width: 50px;
    height: auto;
    transform: translateX(50%);
}

.logo h1 {
    font-family: 'inkut';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin: 0;
    color: #3a2d14;
    transform: translateX(25%);
}

.separator {
    position: absolute;
    width: 1px; /* Espessura da linha vertical */
    height: 114px; /* Altura da linha vertical */
    background-color: rgb(0, 0, 0); /* Cor da linha */
    right: -22px; /* Distância do texto */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

/*NAV-MENU*/
.nav-menu {
    display: flex;
    gap: 117px; /* Reduz o espaço entre os itens */
    background-color: #C5946C;
    border: 2px solid #C5946C; /* Mantém a borda, mas com a mesma cor do fundo para efeito sutil */
    border-radius: 20px; /* Reduz o raio para um tamanho menor */
    padding: 5px 10px; /* Reduz o padding interno */
    width: 60%; /* Define uma largura menor, ajustável */
    margin: 35px auto 0; /* Centraliza horizontalmente e adiciona margem superior */
    position: fixed; /* Fixa no topo da página */
    top: 0; /* Alinha no topo */
    left: 55%; /* Move para o centro horizontal */
    transform: translateX(-50%); /* Ajusta para centralizar perfeitamente */
    box-sizing: border-box; /* Garante que padding e borda não aumentem o tamanho */
    justify-content: center;
}


.nav-menu a {
    font-size: 15px;
    flex-grow: 1;
    color: black;
}

.icones {
    display: flex;
    padding-left: 75%;
    background-image: none;
}


.icones button {
    background-color: transparent;
    border: none;
}

/*ASIDE*/

aside {
    border: 2px solid #616161;
    border-top: none;
    width: 200px;
}

.login {
    display: flex;
    border-color: transparent;
    background-color: #C5946C;
    border-radius: 45px;
    width: 180px;
    margin: auto;
    height: 40px;
    gap: 20px;
    align-items: center;
    font-size: 15px;
}