/* ===== RESET BÁSICO ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F5DDC2; /* Cor de fundo mais próxima do layout */
    color: #0000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 30px;
    transform: translateY(15%);
}

.logo img {
    width: 50px;
    height: auto;
    transform: translateX(50%);
}

.logo h1 {
    font-family: 'inkut';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin: 0;
    color: #3a2d14;
    transform: translateX(25%);
}

/*NAV*/
.nav-menu ul li{
    
}